<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Listing | Airbnb</title>
    <link rel="stylesheet" href="/css/new.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="form-box">
        <h1>Edit your Listing</h1>
        <form action="/listing/<%=listing._id%>?_method=PUT" method="post">
            <label>Title</label>
            <input
                type="text"
                name="listing[title]"
                value="<%=listing.title%>"
                required
            >
            <label>Description</label>
            <textarea name="listing[description]"><%= listing.description %></textarea>
            <label>Image URL</label>
            <input
                type="text"
                name="listing[image]"
                value="<%=listing.image%>"
            >
            <label>Price (₹)</label>
            <input
                type="number"
                name="listing[price]"
                value="<%=listing.price%>"
                required
            >
            <label>Location</label>
            <input
                type="text"
                name="listing[location]"
                value="<%=listing.location%>"
                required
            >
            <label>Country</label>
            <input
                type="text"
                name="listing[country]"
                value="<%=listing.country%>"                
                required
            >
            <button type="submit">
                Edit
            </button>
        </form>
    </div>
</div>
</body>
</html>