<% layout("/layouts/boilerplate") -%>
<body>
    <link rel="stylesheet" href="/css/show.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<div class="container">
    <h1><%= listing.title %></h1>
    <div class="image-box">
        <img src="<%= listing.image %>" alt="Listing Image">
    </div>
    <div class="details">
        <div class="detail">
            <span>Description</span>
            <p><%= listing.description %></p>
        </div>
        <div class="detail">
            <span>Price</span>
            <p>₹ <%= listing.price.toLocaleString("en-IN") %> / night</p>
        </div>
        <div class="detail">
            <span>Location</span>
            <p><%= listing.location %>, <%= listing.country %></p>
        </div>
    </div>
    <div class="buttons">
    <a href="/listings">← Back</a>
    <a href="/listings/<%= listing._id %>/edit">Edit</a>

    <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
</div>
</body>